/* Donut */
/*------------------------- Layout styles ------------------------*/

* {
    box-sizing: border-box;
}

body {
	margin:0;
	font-family: apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	position:relative;
	max-width: 1000px;
}
header{
	background-color: #d94e44;
	color: #fff;
	text-align: center;
}
.cb_title {
    padding-top: 10px;
}
nav {
	background-color: #fff;
	height: 40px;
	border-bottom: 1px solid #d6d4d4;
}
nav button{
	background-color: #fff;
	color: #db4d3f;
	border: none;
	position: relative;
    top: 50%;
    transform: translateY(-50%);
}

input[type="text"],
input[type="password"],
input[type="submit"],
input[type="button"],
button,
select {
    height: 20px;
    vertical-align: top;
}
.cb_title_container {
	height: 40px;
}
#cb_nav_left {
	width: 50%;
	float: left;
	text-align: center;
	border-right: 1px solid #d6d4d4;
	height: 100%;
}
#cb_nav_right {
	text-align: center;
	height: 100% ;
}
#cb_nav_right select{
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
  	border: none;
}
#cb_info_area {
	height: 800px;
}
#cb_info_main_container {
	margin-left: 15%;
	margin-right: 15%;
}
#cb_about_recipe, .cb_ingredients, .cb_steps{
	background-color: #f9f9f9;
}
#cb_about_recipe span, #cb_ingredients span, #cb_steps span{
	background-color: #db4d3f;
	display: block;
	color: #fff;
	padding-left: 3%;
}
.cb_about_recipe, #cb_ingredients_main, .cb_steps_main{
	margin-left: 5%;
	margin-right: 5%;
}
.cb_about_recipe input , textarea, .cb_steps_main textarea{
	width: 100%;
}
.cb_select{
	width: 100%;
    float: left;
}
.cb_select div {
    width: 33%;
    float: left;
 }
 #cb_time{
 	text-align: center;
 }
#cb_difficulty{
	text-align: right;
}
.cb_ingredients i{
	color: #db4d3f;
}
.cb_ingredients span{
	margin-left: 5%;
}
select option{
	background-color: #f6f4f4;
}
/*.cb_ingredients_nav{
	width: 100%;
	float: left;
}
.cb_ingredients_nav div{
	text-align: center;
	width: 20%;
    float: left;
}

.cb_ingredients_nav input,
.cb_ingredients_nav select{
	width: 90%;
}
*/
.cb_ingredients_nav{
	width: 100%;
	display: flex;
	flex-direction: row;
}
.cb_ingredients_nav div{
	margin-right: 11%;
} 

.cb_ingredients_nav button{
	background-color: #fff;
	float: right;
	margin: 0;
    border: 1px solid #db4d3f;
    vertical-align: bottom;
}
.cb_steps_main button{
	background-color: #fff;
	text-align: center;
	border: 1px solid #db4d3f;
	width: 100%;
	color: #db4d3f;
}
#buttons span.cancel{
	background-color: #fff;
	width: 50%;
	float: left;
	text-align: center;
	border: 1px solid #db4d3f;
	height: 100%;
	color: #db4d3f;
	display: block;
}
#buttons span.save{
	background-color: #db4d3f;
	text-align: center;
	height: 100%;
	color: #fff;
	display: block;
	border: 1px solid #db4d3f;
}

/* @media screen and (max-width: 1000px) and (min-width: 701px)  {

	.cb_ingredients_nav{
	width: 100%;
	display: flex;
	flex-direction: row;
}
.cb_ingredients_nav div{
	margin-right: 11%;
} 
}*/
@media screen and (max-width: 700px) and (min-width: 501px)  {
    #cb_info_main_container {
		margin-left: 5%;
		margin-right: 5%;
	}
.cb_ingredients_nav{
width: 100%;
display: flex;
flex-direction: row;
}
.cb_ingredients_nav div{
margin-right: 9%;
} 
}
@media screen and (max-width: 500px) and (min-width: 321px) {
  	 #cb_info_main_container {
   		margin-left: 5%;
   		margin-right: 5%;
   	}
    	.cb_ingredients_nav{
	width: 100%;
	display: flex;
	flex-direction: row;
}
.cb_ingredients_nav div{
	margin-right: 2%;
} 
}
@media screen and (max-width: 320px){
	  #cb_info_main_container {
  		margin-left: 0%;
  		margin-right: 0%;
  	}
 .txt{
  		display: none;
}
 	.cb_ingredients_nav{
width: 100%;
display: flex;
flex-direction: row;
} 
.cb_ingredients_nav div input,#cb_ingredients_nav div select{
	width: 100%;
	margin-right: 1%;
}
.cb_about_recipe, #cb_ingredients_main, .cb_steps_main{
	margin : 0;
}
.cb_select div label {
   float: left;
   display: inline-block;
}
.cb_select div select {
    float: left;
    clear: both;
}
}

